<div id="<%= dom_id articulo %>">
  <p>
    <strong>Nombre:</strong>
    <%= articulo.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= articulo.descripcion %>
  </p>

  <p>
    <strong>Condicion:</strong>
    <%= articulo.condicion %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= articulo.precio %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= articulo.marca.nombre %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% articulo.tags.each do |t| %>
      <span>
        <%= t.name %>
      </span>
    <% end %>
  </p>

  <p>
    <% if articulo.fotos.attached? %>
        <%= image_tag articulo.fotos.variant(resize_to_limit: [150, 150]) %>
    <% end %>
  </p>
</div>
